@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive ;
}
:root {
  --white: #fff;
  --purple: #4338CA;
  --bg-dark: #171717
}
/* STARTS- GENERAL STYLES */
.max-width {
  @apply max-w-[1440px] mx-auto;
}
.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END- GENERAL STYLES */ 

/* START- HERO STYLES */
.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 
}
.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] sm:text-center text-[50px] font-extrabold mt-12 px-6;
}

.hero__subtitle {
  @apply text-[27px] text-center text-black-100 font-light mt-5 ml-3 ;
}

.hero__image-container {
  @apply xl:flex-1 flex justify-center items-end w-full xl:h-screen lg:mt-6;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0 ;
}

/* search filter */ 
.home__filters {
@apply  mt-12 w-full flex-between items-center flex-wrap gap-5;
}
.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}
.search-manufacturer {
  @apply flex-1 max-sm:w-full flex justify-start items-center;
}
.search-manufacturer__input {
  @apply w-full h-[48px] pl-12 p-4 rounded-l-full max-sm:rounded-full bg-light-white outline-none cursor-pointer text-sm;
}
.search-manufacturer__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}
/* footer start */
.footer-links {
@apply flex w-full justify-between items-center mx-6
}
/* footer ends */
body {
  color: rgb(var(--white));
}
